* {
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7; /* фоновый цвет */
  padding: 15px;
  font-family: 'Inter', sans-serif;
}
.pagewrapper {
  max-width: 390px;
  margin: auto;
  border-radius: 20px;
background: #F2F2F2;
box-shadow: 0px 0px 30px 0px rgba(123, 123, 123, 0.25);
border-radius: 20px;
}
.header {
  color: #fff;
  padding: 40px 42px 145px;
  border-radius: 0px 0px 80px 80px;
background: linear-gradient(0deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%), url('../img/header-bg.png') no-repeat center / cover, lightgray 50% / cover no-repeat;
}
.hello {
  font-size: 48px;
  font-weight: 400;
  line-height: 24px;
}
.hellotext {
  font-size: 20px;
  font-weight: 400;
  line-height: 19;

}